.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    background-image: linear-gradient(rgb(135, 135, 237),rgb(244, 68, 244));
    height: 100vh;
}
h1{
    margin-top: 13px;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container{
    background-image: linear-gradient(rgb(160, 160, 241),rgb(224, 138, 109));
    max-width: 920px;
    border: 2px solid black;
    border-radius: 6px;
    margin: auto;
    height: 52vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 22px;
}
.message{
    background-image: linear-gradient(rgb(229, 135, 226),rgb(142, 215, 235));
    /* max-width: 460px; */
    padding: 8px 5px;
    margin: 12px 0;
    border: 2px solid black;
    border-radius: 5px;

}

.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 980px;
    width: 100%;
}
#messageInp{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgb(229, 135, 226),rgb(142, 215, 235));
    font-weight: bold;
    margin: 5px 0;
    width: 87%;
    border: 2px solid rgb(7, 7, 188);
    border-radius: 7px;
    height: 34px;
}
.btn{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 38px;
    width: 70px;
}
.center{
    float: inline-start;
    clear: both;
}