.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    background-image: url("/css/bg.jpg");

    background-size: cover; 
    height: 96vh;
}
h1{
    margin-top: 13px;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #b28727;
}
.container{
    /* background-image: linear-gradient(rgb(160, 160, 241),rgb(224, 138, 109)); */
    background-image: url("/css/bg.jpg");
    background-size: cover; 
    backdrop-filter: blur(10px);
    /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
  box-shadow: 0 4px 8px 0 rgba(249, 249, 249, 0.2), 0 6px 20px 0 rgba(255, 238, 238, 0.19);
    max-width: 920px;
    border: 2px solid burlywood;
    border-radius: 0px 50px 0px 50px;
    margin: auto;
    height: 52vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 22px;
}
.message{
    background-image: linear-gradient(rgb(0 0 0),rgb(56 60 61));
    /* max-width: 460px; */
    padding: 9px 16px;
    margin: 12px 0;
    border: 2px solid black;
    border-radius: 20px 0px 20px 0px;
    font-size: x-large;
    color: gold;

}

.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 980px;
    width: 100%;
    height: 70px;
}
#messageInp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: goldenrod;
    padding: 0 20px;
    background-image: linear-gradient(rgb(80 78 78),rgb(0, 0, 0));
    font-weight: bold;
    margin: 5px 0;
    width: 82%;
    border: 2px solid rgb(0 0 0);
    border-radius: 20px 0 0 20px;
    height: 47px;
}
.btn{
    font-family: 'Times New Roman', Times, serif;
    color: #e6a228;
    font-size: x-large;
    background-image: linear-gradient(rgb(16 12 12),rgb(0 0 0));
    cursor: pointer;
    border: 2px solid #333333;
    border-radius: 0 20px 20px 0;
    height: 49px;
    width: 74px;
}
.center{
    float: inline-start;
    clear: both;
}